
* {
    font-family: 'Consolas';
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

pre {
    color: white;
    display: inline;
}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 250px;
    padding: 0 5px;
}

.column {
    float: left;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
