
* {
    font-family: 'Consolas';
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: darkslategray;
}

pre {
    color: white;
    display: inline;
}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 280px;
    padding: 0 5px;
}

.hzSlidersColor {
	accent-color: rgb(0,128,255);
}

.bpmSlidersColor {
	accent-color: rgb(0,192,0)
}

.column {
    float: left;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
	border-collapse: collapse;
}

th {
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 4px 10px;
}

td {
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 1px 10px;
}
