
* {
    font-family: 'Consolas';
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}

pre {
    color: white;
    display: inline;
}

.column {
    float: left;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
	border-collapse: collapse;
}

th {
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 4px 10px;
}

td {
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 1px 10px;
}

.grid {
	background-color: white;
	display: grid;
	gap: 1em;
	grid-template-rows: minmax(0, 1fr);
	grid-template-columns: minmax(0, 3fr);
	grid-template-areas: "c";
	width: calc(100vw - 45px); /* not necessary, but just to be explicit */
	height: calc(100vh - 350px);
	margin: 0;
	padding: 0;
}

.chart-wrap {
	margin: 0;
	padding: 0;
}
